* {
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   --cor-primaria: #5eb3c3;
   --cor-secundaria: #444644;
   --cor-terciaria: #e6e7e8;
}

.container-header{
    /* border: 2px solid purple; */
    
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 70px;
    align-items: center;
}

.header-menu ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.header-menu ul li a{
    text-decoration: none;
    color: white;
}

.main{
    background-color: var(--cor-primaria);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 50px;
    gap: 80px;
    color: white;
}

.main-col1{
    width: 50%;   
}

.main-col1 figure{
    display: flex;  
    justify-content: flex-end;
}

.main-col2{
    width: 40%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sec-1{
    padding: 30px 50px;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;   
}

.sec-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 30px 50px;
}

.card{
    width: 250px;
    height: 400px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    padding: 10px;
}

.card figure{
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    text-align: justify;
}

.sec-3{
    padding: 30px 50px;
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.row-1{
    padding: 30px 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.row-2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sec-4{
    padding: 30px 50px;
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--cor-secundaria);
    gap: 10px;
}

.row-sec-4{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid purple;
}

/* .row-sec-4 figure img{
    /* background-image: image("./img/sec3-icone1.png"); 
}*/

.sec-5{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sec-5-col1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;   
}

.sec-5-title{
    padding: 20px 0px;
}

.sec-5-col2{
    width: 40%;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.sec-5-col2 figure img{
    padding: 10px 00px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer-1{
    padding: 30px 50px;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;   
}

.footer-col1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;   

}

.footer-col2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;   

}

.footer-col3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;   

}

.footer-col3 figure {
    
    flex-direction: row;
}

.footer-2{
    padding: 15px 35px;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;   
}
